<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rock Paper Scissors</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>

    <nav>

        <a href="/home"><img src="https://1001freedownloads.s3.amazonaws.com/vector/thumb/85538/1329059652.png",alt="Home button", style="width:120px" /></a>

        <a href="/play"><img src="http://www.iconarchive.com/download/i7084/hopstarter/button/Button-Next.ico", alt="Play game button", style="width:80px" /></a>

    </nav>

    <%= yield %>

    <div>
      <img src="http://i.imgur.com/qbHME84.png", alt="Rock, Paper, Scissors", style="width:450px" />
    </div>

  </body>
</html>
