<h1>Instructions</h1>

<h2>Let's play rock, paper, scissors...</h2>

<h3>Please copy and paste the below into the address bar, replacing ??? with your weapon of choicer</h3>

<h2>http://localhost:4567/rock_paper_scissors/???/???</h2>
