body{
  background-color:lightyellow;
}


<style>



  nav{
    display:inline;
    width:100px;
    padding:0,50,0,100;
    text-align:center
  }

  h1{
    text-align:center;
    color:black;
    font-size:100px;
    font-family:fantasy;
  }

  h2{
    text-align:center;
    color:black;
    font-size:50px;
    font-family:fantasy;
  }

  h3{
    text-align:center;
    color:black;
    font-size:25px;
    font-family:fantasy;

  }

  div{
    text-align:center
  }



</style>
